[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/melbi-lang/tree-sitter-melbi
	branch = main
[submodule "assets"]
	path = assets
	url = https://github.com/melbi-lang/melbi-assets
	branch = main
