name: Rust

on:
  workflow_dispatch:
    # Optional: You can define inputs here if needed
    inputs:
      build_reason:
        description: 'Reason for manual build'
        required: false
        default: 'Manual trigger'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install 32-bit dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-multilib
    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: i686-unknown-linux-gnu
        cache: true
    - name: Build i386 Binary
      run: cargo build -p melbi-cli --release --verbose --target i686-unknown-linux-gnu
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rust-binary
        path: target/i686-unknown-linux-gnu/release/melbi
      
