name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install 32-bit dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-multilib
    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: i686-unknown-linux-gnu
        cache: true
    - name: Build i386 Binary
      run: cargo build -p melbi-cli --release --verbose --target i686-unknown-linux-gnu
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rust-binary
        path: target/release/melbi-cli
      
